<!-- <footer class="page-footer font-small indigo fixed-bottom">
    <div class="footer-copyright text-center py-3">&copy; 2020 Copyright:
        <a href="http://localhost:8000">Deliver</a>
        <a class="ml-3" href="#"> Restaurant Login</a>
    </div>
</footer> -->

<style media="screen">
  .footer {
   /* position: fixed; */
   left: 0;
   bottom: 0;
   width: 100%;
   /* background-color: black; */
   color: white;
   text-align: center;
}
</style>

<p class="footer" style="text-align:center;color: grey">Developed By <span style="color: white">Divya Basatwar<span></p>
