<!-- <nav class="navbar navbar-expand-lg navbar-dark indigo">
  <a class="navbar-brand" href="{% url 'index' %}">Food Store</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a class="nav-link" href="{% url 'about' %}"><span>About Us</span></a>
      </li>
      <li>
        <a class="nav-link" href="{% url 'menu' %}">Menu</a>
      </li>
    </ul>
    <!-- <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'order' %}">Place an Order!</a>
      </li>
    </ul>
  </div>
</nav> -->

<!--navbar-nav mr-auto   navbar navbar-expand-lg navbar-transparent-->

<style media="screen">

</style>


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'index' %}">Food Store</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ml-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Signup</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
