<style media="screen">
  li {
    display: inline-block;
    margin-right: 7px;
  }

  a{
    color: #FFFAFA;
  }
  .dot {
    height: 10px;
    width: 10px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}
</style>

 <div class="container">
   <h2><u>Explore other options for you here</u></h2><br>

   <br><h4>Popular cuisines near me</h4><br>
   <ul style="list-style-type: square;">
      <li><a href="">Bakery food near me</a></li>
      <li><span class="dot"></span>&nbsp;&nbsp;<a href="">Beverages food near me</a></li>
      <li><span class="dot"></span>&nbsp;&nbsp;<a href="">Biryani food near me</a></li>
      <li><span class="dot"></span>&nbsp;&nbsp;<a href="">Burger food near me</a></li>
      <li><span class="dot"></span>&nbsp;&nbsp;<a href="">Cafe food near me</a></li>
      <li><span class="dot"></span>&nbsp;&nbsp;<a href="">Chinese food near me</a></li>
      <li><span class="dot"></span>&nbsp;&nbsp;<a href="">Continental food near me</a></li>
      <li><span class="dot"></span>&nbsp;&nbsp;<a href="">Desserts food near me</a></li>
      <li><span class="dot"></span>&nbsp;&nbsp;<a href="">Healthy food near me</a></li>
      <li><span class="dot"></span>&nbsp;&nbsp;<a href="">Ice Cream food near me</a></li>
      <li><span class="dot"></span>&nbsp;&nbsp;<a href="">Italian food near me</a></li>
      <li><span class="dot"></span>&nbsp;&nbsp;<a href="">Mithai food near me</a></li>
      <li><span class="dot"></span>&nbsp;&nbsp;<a href="">Momos food near me</a></li>
      <li><span class="dot"></span>&nbsp;&nbsp;<a href="">Mughlai food near me</a></li>
      <li><span class="dot"></span>&nbsp;&nbsp;<a href="">North Indian food near me</a></li>
      <li><span class="dot"></span>&nbsp;&nbsp;<a href="">Pizza food near me</a></li>
      <li><span class="dot"></span>&nbsp;&nbsp;<a href="">Rolls food near me</a></li>
      <li><span class="dot"></span>&nbsp;&nbsp;<a href="">Sandwich food near me</a></li>
      <li><span class="dot"></span>&nbsp;&nbsp;<a href="">South Indian food near me</a></li>
      <li><span class="dot"></span>&nbsp;&nbsp;<a href="">Street food near me</a></li>
   </ul>


   <br><h4>Popular restaurant types near me</h4><br>
   <ul>
     <li><a href="">Bakeries near me</a></li>
     <li><span class="dot"></span>&nbsp;&nbsp;<a href="">Beverage Shops near me</a></li>
     <li><span class="dot"></span>&nbsp;&nbsp;<a href="">Casual Dining near me</a></li>
     <li><span class="dot"></span>&nbsp;&nbsp;<a href="">Clubs near me</a></li>
     <li><span class="dot"></span>&nbsp;&nbsp;<a href="">Bars near me</a></li>
     <li><span class="dot"></span>&nbsp;&nbsp;<a href="">Bhojanalya near me</a></li>
     <li><span class="dot"></span>&nbsp;&nbsp;<a href="">Cafés near me</a></li>
     <li><span class="dot"></span>&nbsp;&nbsp;<a href="">Casual Dining near me</a></li>
     <li><span class="dot"></span>&nbsp;&nbsp;<a href="">Cocktail Bars near me</a></li>
     <li><span class="dot"></span>&nbsp;&nbsp;<a href="">Confectioneries near me</a></li>
     <li><span class="dot"></span>&nbsp;&nbsp;<a href="">Dessert Parlors near me</a></li>
     <li><span class="dot"></span>&nbsp;&nbsp;<a href="">Fine Dining near me</a></li>
     <li><span class="dot"></span>&nbsp;&nbsp;<a href="">Dhabas near me</a></li>
     <li><span class="dot"></span>&nbsp;&nbsp;<a href="">Food Courts near me</a></li>
     <li><span class="dot"></span>&nbsp;&nbsp;<a href="">Food Trucks near me</a></li>
     <li><span class="dot"></span>&nbsp;&nbsp;<a href="">Contributions near me</a></li>
     <li><span class="dot"></span>&nbsp;&nbsp;<a href="">General Stores near</a></li>
     <li><span class="dot"></span>&nbsp;&nbsp;<a href="">Kiosks near me</a></li>
     <li><span class="dot"></span>&nbsp;&nbsp;<a href="">Liquor Stores near me</a></li>
     <li><span class="dot"></span>&nbsp;&nbsp;<a href="">Microbreweries near me</a></li>
     <li><span class="dot"></span>&nbsp;&nbsp;<a href="">Paan Shop near me</a></li>
     <li><span class="dot"></span>&nbsp;&nbsp;<a href="">Pop Ups near me</a></li>
     <li><span class="dot"></span>&nbsp;&nbsp;<a href="">Pubs near me</a></li>
     <li><span class="dot"></span>&nbsp;&nbsp;<a href="">Quick Bites near me</a></li>
     <li><span class="dot"></span>&nbsp;&nbsp;<a href="">Sweet Shops near me</a></li>
   </ul>

   <br><h4>Top Restaurant Chains</h4><br>
   <div class="row">
     <div class="col-md-4">
       <ul>
         <li><span class="dot"></span>&nbsp;&nbsp;<a href="">BikanervalaBiryani</a></li><br>
         <li><span class="dot"></span>&nbsp;&nbsp;<a href="">BluesBTWBurger</a></li><br>
         <li><span class="dot"></span>&nbsp;&nbsp;<a href="">KingBurger</a></li><br>
         <li><span class="dot"></span>&nbsp;&nbsp;<a href="">SinghDomino'sDunkin'</a></li><br>
       </ul>
     </div>
     <div class="col-md-4">
       <ul>
         <li><span class="dot"></span>&nbsp;&nbsp;<a href="">  DonutsFaasosHaldiram'sKFCKrispy</a></li><br>
         <li><span class="dot"></span>&nbsp;&nbsp;<a href="">KremeMcDonald'sMoti</a></li><br>
         <li><span class="dot"></span>&nbsp;&nbsp;<a href="">Mahal</a></li><br>
         <li><span class="dot"></span>&nbsp;&nbsp;<a href="">Delux</a></li><br>
       </ul>
     </div>
     <div class="col-md-4">
       <li><span class="dot"></span>&nbsp;&nbsp;<a href="">Om Sweets & SnacksParadise</a></li><br>
       <li><span class="dot"></span>&nbsp;&nbsp;<a href="">BiryaniPizza</a></li><br>
       <li><span class="dot"></span>&nbsp;&nbsp;<a href="">HutSagar</a></li><br>
       <li><span class="dot"></span>&nbsp;&nbsp;<a href="">RatnaSubwayWOW! Momo</a></li><br>
     </div>
   </div>

   <br><h4>Cities We Deliver To</h4><br>
   <div class="row">
     <div class="col-md-4">
       <ul>
         <li><span class="dot"></span>&nbsp;&nbsp;<a href="">Mumbai</a></li><br>
         <li><span class="dot"></span>&nbsp;&nbsp;<a href="">Pune</a></li><br>
         <li><span class="dot"></span>&nbsp;&nbsp;<a href="">Nagpur</a></li><br>
         <li><span class="dot"></span>&nbsp;&nbsp;<a href="">Nashik</a></li><br>
       </ul>
     </div>
     <div class="col-md-4">
       <ul>
         <li><span class="dot"></span>&nbsp;&nbsp;<a href="">Thane</a></li><br>
         <li><span class="dot"></span>&nbsp;&nbsp;<a href="">Nanded</a></li><br>
         <li><span class="dot"></span>&nbsp;&nbsp;<a href="">Satara</a></li><br>
         <li><span class="dot"></span>&nbsp;&nbsp;<a href="">Latur</a></li><br>
       </ul>
     </div>
     <div class="col-md-4">
       <li><span class="dot"></span>&nbsp;&nbsp;<a href="">Sangli</a></li><br>
       <li><span class="dot"></span>&nbsp;&nbsp;<a href="">Jalna</a></li><br>
       <li><span class="dot"></span>&nbsp;&nbsp;<a href="">Parbhani</a></li><br>
       <li><span class="dot"></span>&nbsp;&nbsp;<a href="">Parli</a></li><br>
     </div>
   </div>
 </div>

 <br><br><br><hr>
